.inline-bl { display: inline-block; }
.override { margin: 10px 0 0 40px; }
.groups { margin: 0 0 0 40px; }
.interface { margin: 0 0 0 40px; }
.vendor { margin: 0 0 0 40px; }
#spacer { margin: 0 0 5px 0; }

@media (max-width: 1000px) {
        body { padding: 30px }
}

@media (min-width: 1000px) {
        body { 
                padding: 30px 200px;
        }
}
