<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for("static", filename="main.css") }}"
  />
  <link
    href="{{ url_for("static", filename="bootstrap.min.css") }}"
    rel="stylesheet"
  />
  <script
    src="{{ url_for("static", filename="bootstrap.bundle.min.js") }}"
  ></script>
</head>
<body>
  <h1>Network Zone Electronic Collections</h1>
  <p>
    There are currently {{ count }} electronic collections in the NZ. This list
    is updated roughly once per hour. The last update was at {{ time }}.
  </p>
  <table class="table table-striped">
    <tbody>
      {% for item in data %}
        <tr>
          <th scope="row">
            <div class="fw-bold inline-bl">
              {{ item[0] }}
            </div>
            <div class="fw-normal inline-bl">
              (id# {{ item[1] }})
            </div>
            <div class="fw-normal groups">
              Groups:
              {% if item[2] %}
                {% for group in item[2] %}
                  {{ group }}{{ ", " if not loop.last else "" }}
                {% endfor %}
              {% else %}
                All CUNY Institutions
              {% endif %}
            </div>
            {% if item[3] %}
              <div class="fw-normal interface">
                Interface name: {{ item[3] }}
              </div>
            {% endif %}
            {% if item[4] %}
              <div class="fw-normal vendor">
                Vendor name: {{ item[4] }}
              </div>
            {% endif %}
            <div id="spacer"></div>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
